.section {
    /* height: 600px; */
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
}

.section.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section.row {
    display: flex;
    flex-direction: row;
}

.section.light {
    background-color: white;
}
.section.dark {
    background-color: whitesmoke;
}


[data-platform="playstation"] .section.dark,
[data-platform="playstation"] .products-container {
    background-color: whitesmoke;
}

[data-platform="xbox"] .section.dark,
[data-platform="xbox"] .products-container {
    background-color: rgb(230, 248, 217);
}

[data-platform="nintendo"] .section.dark,
[data-platform="nintendo"] .products-container {
    background-color: rgb(255, 240, 240);
}


[data-platform="playstation"] h1 {
    color: rgb(0, 0, 0);
}
[data-platform="xbox"] h1 {
    color: darkgreen;
}
[data-platform="nintendo"] h1 {
    color: red;
}


/* .section .heading {
} */

.ps-container {
    width: 100%;
    position: relative;
}
.ps-container>button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s;
}
.ps-container>button>span {
    font-size: 48px;
}
.ps-container>button:hover {
    background-color: rgb(235, 235, 235);
}
.ps-container>button[data-hidden="true"] {
    opacity: 0;
    visibility: hidden;
}
.ps-container>button.push-right {
    right: -24px;
}
.ps-container>button.push-left {
    left: -24px;
}
.ps-window {
    width: 100%;
    overflow: hidden;
}
.ps-inner {
    white-space: nowrap;
    width: min-content;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
}

.product-slider {
    display: flex;
    gap: 48px;
    align-items: flex-end;
}





.filter-options {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.filter-option {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.filter-option label {
    color: var(--dark);
}

.option-dropper {
    border: 1px solid gainsboro;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 42px 0px 12px;
    position: relative;
    cursor: pointer;
}

.option-dropper .arrow {
    position: absolute;
    color: gray;
    right: 0;
    transition: 0.2s;
}

.option-dropper:hover .arrow {
    transform: translateY(2px);
    color: black;
}

.products-section {
    display: flex;
    flex-direction: column;

}

.products-section .pagination {
    /* background-color: beige; */
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.pagination button {
    height: 48px;
    width: 48px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    font-weight: 700;
    transition: 0.2s;
}
.pagination button:hover {
    background-color: rgb(230, 230, 230);
}
.pagination button[data-disabled="true"] {
    color: gainsboro;
    pointer-events: none;
}
.pagination button[data-selected="true"] {
    background-color: var(--orange);
    color: white;
}

.products-container {
    display: flex;
    justify-content: space-around;
    margin: 24px 0px;
    padding: 24px 0px;
    gap: 8px;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-radius: 8px;
}