.product-card-container {
    height: 492px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card {
    /* height: 448px; */
    height: 480px;
    width: 312px;
    padding: 24px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: 0.2s;
}
.product-card[data-darkcard="true"] {
    background-color: whitesmoke;
}
.product-card[data-cardversion="video-game"] {
    width: 280px;
}

.product-card[data-cardversion="console"]:hover {
    transform: translateY(-4px);
}
.product-card:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.07);
}
.product-card[data-darkCard="true"]:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); 
}
.product-card .imgDiv {
    height: 60%;
    /* height: 235px; */
    /* border: 1px solid salmon; */
    /* width: 100%; */
    object-fit: contain;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    position: relative;

}
.product-card .imgDiv .console-img {
    width: 100%;
    height: 100%;
    /* background-color: whitesmoke; */
    object-fit: contain;
    object-position: center; 
    /* margin: auto; */
}
.product-card .imgDiv .console-strip {
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 32px; */
    object-fit: contain;
    z-index: 1;
}
.product-card .imgDiv .video-game-img-container {
    height: calc(100% - 24px); 
    width: 500px;
    position: absolute;
    left: -134px; 
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}
.product-card .imgDiv .video-game-img {
    /* width: 100%; */
    height: 100%;
    /* background-color: whitesmoke; */
    object-fit: cover;
    object-fit: contain;
    object-position: center;
    /* margin: auto; */
    /* position: absolute;
    left: 100%; */
}
.product-card .sub-title {
    font-size: 12px;
}
.product-card .title {
    font-size: 18px;
}
.product-card .footer {
    margin: auto 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.product-card .price-and-favorite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-card .price {
    font-weight: 700;
    font-size: 20px;
    color: rgb(72, 72, 72);
    display: flex; 
    align-items: center;
    gap: 8px;
}
.product-card .price .before {
    text-decoration: line-through;
    color: gray;
}
.product-card .price .after {
    color: red;
}
.product-card .favorite {
    width: auto;
    padding: 0;
    font-weight: 600;
    background-color: rgb(245, 245, 245);
    color: white;
}
.product-card .addBtn {
    width: 100%;
    font-weight: 600;
    background-color: rgb(245, 0, 0);
    color: white;
}
.product-card .addBtn:hover {
    background-color: rgb(200, 0, 0);
}

.favorite-container {
    display: flex;
    width: 26px;
    justify-content: center;
    align-items: center;
}
.favorite-empty {
    color: gray;
    cursor: pointer;
    transition: 0.2s;
}
.favorite-empty:hover {
    color: rgb(150, 150, 150);
}
.favorite-img {
    height: 18px;
    width: 20px;
    /* object-fit: contain; */
}